body{
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-rows: 150px 1fr 150px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    grid-area: header;
    background-color: tomato;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    grid-area: nav;
    background-color: thistle;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 150px 4fr 100px;
}

header{
    display: flex;
    background-color: yellow;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.NAV_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    width: 20%;

}

.article_ar{
    background-color: green;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ASIDE_as{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgray;
    width: 20%;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}